.channels-container {
  display: flex;
  width: 240px;
  height: 100vh;
  background-color: #26252b;
  flex-direction: column;
  /* /* align-content: flex-start; */
  align-items: center;
  color: #8e9297;
  margin: 0;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 15rem;
  min-width: 15rem;
  min-height: 100%;
  width: 15rem;
}

/* channel list*/
.text-channels-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.channels-list {
  align-items: flex-start;
  border-top: 1px solid #2c2c32;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.all-server-channels > a {
  color: #8e9297;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.channels-list > a:hover {
  color: white;
}
.channels-list:hover {
  overflow-y: auto;
}
.text-channels-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: Whitney, Helvetica Neue, Helvetica;
  max-height: 35px;
  min-height: 35px;
  justify-content: space-between;
  padding: 1rem 0 0 1rem;
  width: 14rem;
}
.text-channels-container:hover {
  color: white;
}
.channel-title {
  /* position: relative; */
  font-weight: 500;
  padding: 0 16px;
  height: 48px;
  box-sizing: border-box;
  align-items: center;
  z-index: 3;
  position: sticky;
  top: 0;
}
.channel-title > h1 {
  color: white;
  margin-top: 15px;
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.add-channel-icon {
  align-items: center;
  display: flex;
  min-height: 2rem;
  max-height: 2rem;
  font-size: 20px;
  border-bottom: 1px solid #232329;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: #26252b;
  color: #8e9297;
}
.add-channel-icon:hover {
  color: #fff;
}
.all-server-channels {
  width: 100%;
}
.channel-index-link {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  font-size: 0.9rem;
  height: 2rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 3px;
}
.channel-index-link-active {
  background-color: #393b43;
}
.channel-name {
  color: white;
}
.channels-index-hashtag {
  margin: 0.5rem;
  min-height: 1rem;
  max-height: 1rem;
  min-width: 1rem;
  max-width: 1rem;
}
.channels-index-footer {
  align-items: center;
  background-color: #292b2f;
  display: flex;
  max-height: 3rem;
  min-height: 3rem;
  justify-content: space-between;
  width: 100%;
}

.channels-index-footer-name-id-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.channels-index-footer-member-info {
  align-items: center;
  display: flex;
  width: 100%;
  height: 0px;
}
.channels-index-footer-member-username {
  font-size: 1rem;
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.channels-index-footer-member-username:hover {
  cursor: default;
}
.channels-index-footer-member-id {
  font-size: 0.8rem;
}
.logout-button {
  transition: 1s;
  color: #8e9297;
  margin-right: 10px;
}

.logout-button:hover {
  transition: 0.1s;
  cursor: pointer;
  color: white;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1rem;
}
.small-logo-placeholder {
  max-height: 3rem;
  position: relative;
  bottom: 20px;
  right: 9.5px;
}
.guild-member-index-member-profile-picture {
  display: flex;
  align-items: center;
}
.channels-index-footer-member-info
  > .guild-members-index-member-profile-picture:hover {
  filter: brightness(80%);
}
